@tailwind base;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
  font-family: -apple-system, InkLipquid, sans-serif;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

/*DragCarousel.scss*/
.card-wrap  {
  display: flex; /* div가 가로방향*/
  overflow-x: scroll; /* div에 가로 스크롤을 줘서 옆으로 길게 보이게함*/
}

.dots {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active-dot {
  background: #3f3f3f;
  cursor: default;
}

/*overflow-x와 함께오는 scroll bar 제거*/
.card-wrap::-webkit-scrollbar {
  display: none;
}